<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianji.learning.mapper.PointsRecordMapper">

    <insert id="createPointsRecordTable" parameterType="java.lang.String" >
        CREATE TABLE `${tableName}`
        (
            `id` bigint NOT NULL AUTO_INCREMENT COMMENT '积分记录表id',
            `user_id` bigint NOT NULL COMMENT '用户id',
            `type` tinyint NOT NULL COMMENT '积分方式：1-课程学习，2-每日签到，3-课程问答， 4-课程笔记，5-课程评价',
            `points` tinyint NOT NULL COMMENT '积分值',
            `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
            PRIMARY KEY (`id`) USING BTREE,
            KEY `idx_user_id` (`user_id`,`type`) USING BTREE,
            KEY `idx_create_time` (`create_time`) USING BTREE

        )
            COMMENT ='学霸天梯榜'
            COLLATE = 'utf8mb4_0900_ai_ci'
            ENGINE = InnoDB
            ROW_FORMAT = DYNAMIC
    </insert>
</mapper>
